@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');


html{
  border-top: 5px solid #9d9b9b;
  margin: 0;
  padding: 0;
}
h1{
  border-bottom: 1px solid #000;
  margin-bottom: 0;
}
.clear{clear: both;}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
/* ////////////////////////////// */
/* ////////  Header  ///////////// */
/* ////////////////////////////// */

#header{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.logo img {
  margin: 15px 0 20px 0;
  width: 100%;
  max-width: 400px;
}
/*a.logo{
  font-family: Stalemate;
  font-size: 3em;
  color: #000;
  text-decoration: none;
  position: relative;
}
.logosub{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.25em;
  position: absolute;
  bottom: 10px;
  right: -38px;
}*/
#wrapper{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#header nav{
  list-style: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
nav ul {
  padding: 0;
  margin: 0;
}
#header nav li{
  display: inline-block;
}
#header nav a{
  display: inline-block;
  text-decoration: none;
  color: #000;
  margin-right: 4px;
  font-size: 1em;
  padding: 20px;
}
#header nav a:hover{
  color: red;
}
#header .active{
  border-bottom: 5px solid red;
}
#header .active a:hover {
  color: #000;
}


/* ////////////////////////////// */
/* ////////  Slider  ///////////// */
/* ////////////////////////////// */
/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -60px;
  margin-left: -20px;
  margin-right: -20px;
  color: #ccc;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: red;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* ////////////////////////////// */
/* ////////  CONTENT  ///////////// */
/* ////////////////////////////// */
#content{
  width: 100%;
}
.col-25{
  width: 23%;
  margin: 1%;
  float: left;
}
.col-25 img{
  display: block;
  width: 100%;
  height: auto;
}
/* ////////////////////////////// */
/* ////////  FOOTER  ///////////// */
/* ////////////////////////////// */
#footer{
  clear: both;
  border-top: 1px solid #000;
}
#footer * {
  margin-left: auto;
  margin-right: auto;
}
#footer p{
  float: left;
  padding: 10px;
}
#footer ul li{padding: 10px;}
#footer nav ul{
  padding: 15px;
  float: right;
}
#footer a {color: #000;}
#footer a:hover{color: red; text-decoration: none;}
#footer ul, #footer ul li, #footer p{display: inline-block;}


/* ////////  Social Media  ///////////// */
#media{
  margin: 0;
  border-bottom: 1px solid #000;
}
#media h2 {
  margin: 0;
}
#media ul {
  padding-left: 0;
  font-size: 3em;
  margin: 0;
}
i.fa-brands {
  color: black;
}
div#media {
  text-align: center;
}
/* #media ul {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin:0;
  padding:0;
  display:flex;
}

#media ul li {
  list-style: none;
}

#media ul li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

#media ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

#media ul li a .fab {
  widht: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

#media ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

#media ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

#media ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

#media ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

#media ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
} */



.disclaimer{display: none;}